html {
  background-color: #F7F7F7;
}

body {
  width: 1000px;
  margin: 0 auto 0 auto;
  background-color: #318098;
  padding: 0 20px 0 20px;
  /*rder: 5px solid black;*/
}


.menu {
    display : inline-block;
    margin: 0 auto;
    padding: 4px;
    /*background-color: #eee;*/
    font: 20px;
}

.case {
    margin: 8px;
    padding: 5px;
    font-size: 20px;
    background: #E8E8E8;
}

.case > h2,
.case > p {
    margin: 3px;
    font-size: 20px;
}


#corps {
	display : inline-block;
	vertical-align : top;
	width : 650px;
	margin-left: 20px;
	padding: 20px;
	background-color: white;
	/*border: 5px solid black;*/
}

#menu {
	display : inline-block;
	border-radius: 10px;
	width : auto;
	height: 100%;
	margin: 20px;
	background-color: white;
	/*border: 5px solid black;*/
}

#menu a
{
    font-size: 18px;
    color: #202020;
    padding-bottom: 3px;
    text-decoration: none;
}

#menu a:hover
{
    color: #087EA2;
    border-bottom: 3px solid #087EA2;
}

#menu ul
{
    list-style-type: none;
}


#rouge
{
	color : #087EA2 !important;
	border-bottom: 3px solid #087EA2;
}
