html {
  background-color: #F2F2F2;
}

body {
  width: 900px;
  margin: 0 auto;
  background-color: #F7F7F7;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

nav
{
	display : inline-block;
	text-align:right;
	margin-top: 20px
	margin-left: 100px;
	width: 800px;
}

#menu
{
	display : inline-block;
	width: 200px;
	background-color : #F5F5F5;
	font-size: 1.1em;
	border-radius: 10px;
	margin-top:20px;
}

#menu ul
{
    list-style-type: none;
}

#menu a
{
    color: #202020;
    text-decoration: none;
}

#menu a:hover
{
    color: rgb(154,123,99);
    border-bottom: 3px solid rgb(154,123,99);
}
